h1{
  color: black;
  text-align: center;
  font-size: xx-large;
  font-weight:inherit;
  height: 70px;
  width: 100%;
  padding-top: 30px;
  box-shadow: 5px 5px 5px 2px white;
  border-radius: 3px;
  background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(0, 225, 255),rgb(255, 255, 255));
}
.aforcegame{
  color:black; 
  text-shadow: 2px 2px 2px white; 
  font-family:inherit;
  font-weight:inherit;
  border: 3px outset white;
  background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(0, 225, 255),rgb(255, 255, 255));
  padding: 5px;
  border-radius: 5px;
}
#aforcecharacters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.characters{
  margin: 5px;
  background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(0, 225, 255),rgb(255, 255, 255));
  color:black; 
  text-shadow: 2px 2px 2px white;
  flex: 1;
}
.characterslong{
  margin: 5px;
  background-image: linear-gradient(to right,rgb(255, 255, 255),rgb(0, 225, 255),rgb(255, 255, 255));
  color:black; 
  text-shadow: 2px 2px 2px white;
  flex: 2;
}