h1{
  text-align: center;
  font-size: xx-large;
  font-weight:inherit;
  height: 70px;
  width: 100%;
  padding-top: 30px;
  box-shadow: 5px 5px 5px 2px white;
  border-radius: 3px;
  background-image: linear-gradient(to right,darkgreen,gold,darkgreen);
  color:black;
}
.crimsgame{
  color:black; 
  text-shadow: 2px 2px 2px white;
  font-family:inherit;
  font-weight:inherit;
  border: 3px outset white;
  background-image: linear-gradient(to right,darkgreen,gold,darkgreen);
  padding: 5px;
  border-radius: 5px;
}
#crimscharacters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.characters{
  display:inline-block;
  margin: 5px;
  background-image: linear-gradient(to right,darkgreen,gold,darkgreen);
  color:black; 
  text-shadow: 2px 2px 2px white;
  flex: 1;
}
.characterslong{
  display:inline-block;
  margin: 5px;
  background-image: linear-gradient(to right,darkgreen,gold,darkgreen);color: black;
  color:black; 
  text-shadow: 2px 2px 2px white;
  flex: 2;
}    