h1{
  color: black;
  text-align: center;
  font-size: xx-large;
  font-weight:inherit;
  height: 70px;
  width: 100%;
  padding-top: 30px;
  box-shadow: 5px 5px 5px 2px white;
  border-radius: 3px;
  background-image:linear-gradient(to right,grey,black,grey);
  color:white;
}
.shieldgame{
  color:white; 
  text-shadow: 2px 2px 2px black; 
  font-family:inherit;
  font-weight:inherit;
  border: 3px outset white;
  background-image:linear-gradient(45deg,grey,black,grey);
  padding: 5px;
  border-radius: 5px;
}
#shieldcharacters{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.characters{
  margin: 5px;
  background-image:linear-gradient(45deg,grey,black,grey);
  color:white; 
  text-shadow: 2px 2px 2px black;
  flex: 1;
}
.characterslong{
  margin: 5px;
  background-image:linear-gradient(45deg,grey,black,grey);
  color:white; 
  text-shadow: 2px 2px 2px black;
  flex: 2;
}
